.deleteMultiple{
    margin:1%;
    height: 50px;
    width: auto;
    background-color: #146EB4;
    border-radius: 40px;
    border-color: goldenrod;
    color: white;
    position: absolute;
    left:3%;
    font-weight: 900;
}

