.Footer{
    margin: 1%;
   display: flex;
   justify-content: space-evenly;
   
}



  @media (max-width:560px){
    .Footer{
        margin: 3%;
       
        display:block;
        
        
        }
  }